USE [master]
GO
/****** Object:  Database [groceryshop]    Script Date: 03/01/2021 07:54:40 PM ******/
CREATE DATABASE [groceryshop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'groceryshoop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\groceryshoop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'groceryshoop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\groceryshoop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [groceryshop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [groceryshop]
GO
/****** Object:  Table [dbo].[category]    Script Date: 03/01/2021 07:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appid] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[appid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 03/01/2021 07:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appid] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NULL,
	[gender] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[birthdate] [date] NULL,
	[phone] [nvarchar](255) NULL,
	[join_date] [date] NULL,
	[salary] [float] NOT NULL,
	[user_id] [nvarchar](255) NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[appid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[logins]    Script Date: 03/01/2021 07:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logins](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appid] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[user_id] [nvarchar](255) NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[appid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 03/01/2021 07:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appid] [nvarchar](255) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[price] [float] NOT NULL,
	[purchase_price] [float] NOT NULL,
	[quantity] [float] NOT NULL,
	[updated_at] [datetime] NOT NULL,
	[category_id] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[appid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 03/01/2021 07:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appid] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[cart_access] [bit] NOT NULL,
	[inventory_access] [bit] NOT NULL,
	[users_access] [bit] NOT NULL,
	[report_access] [bit] NOT NULL,
	[role_access] [bit] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[appid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales]    Script Date: 03/01/2021 07:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appid] [nvarchar](255) NOT NULL,
	[total_price] [float] NOT NULL,
	[quantity] [float] NOT NULL,
	[updated_at] [datetime] NOT NULL,
	[product_id] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[appid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 03/01/2021 07:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appid] [nvarchar](255) NOT NULL,
	[updated_at] [datetime] NOT NULL,
	[user_type] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[appid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [appid], [name], [updated_at]) VALUES (1, N'ca-1', N'Fruits and Vegetables', CAST(N'2021-01-03T16:39:59.327' AS DateTime))
INSERT [dbo].[category] ([id], [appid], [name], [updated_at]) VALUES (10, N'ca-10', N'Pet Care', CAST(N'2021-01-03T16:39:59.330' AS DateTime))
INSERT [dbo].[category] ([id], [appid], [name], [updated_at]) VALUES (11, N'ca-11', N'Home Appliances', CAST(N'2021-01-03T16:39:59.330' AS DateTime))
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[employee] ON 

INSERT [dbo].[employee] ([id], [appid], [full_name], [email], [gender], [address], [birthdate], [phone], [join_date], [salary], [user_id], [updated_at]) VALUES (1, N'em-1', N'nasim uddin', N'nasim@gmail.com', N'male', N'bogra', CAST(N'1996-02-08' AS Date), N'01790058492', CAST(N'2010-03-14' AS Date), 45000, N'us-1', CAST(N'2021-01-03T16:43:24.553' AS DateTime))
INSERT [dbo].[employee] ([id], [appid], [full_name], [email], [gender], [address], [birthdate], [phone], [join_date], [salary], [user_id], [updated_at]) VALUES (2, N'em-2', N'asif ahmed', N'asif@gmail.com', N'male', N'dhaka', CAST(N'1998-05-09' AS Date), N'01790058491', CAST(N'2019-05-14' AS Date), 75000, N'us-2', CAST(N'2021-01-03T16:39:59.343' AS DateTime))
INSERT [dbo].[employee] ([id], [appid], [full_name], [email], [gender], [address], [birthdate], [phone], [join_date], [salary], [user_id], [updated_at]) VALUES (3, N'em-3', N'shameem ahmed', N'shameem@gmail.com', N'male', N'chittagong', CAST(N'1998-10-25' AS Date), N'01790058490', CAST(N'2012-10-14' AS Date), 80500, N'us-3', CAST(N'2021-01-03T16:39:59.347' AS DateTime))
SET IDENTITY_INSERT [dbo].[employee] OFF
GO
SET IDENTITY_INSERT [dbo].[logins] ON 

INSERT [dbo].[logins] ([id], [appid], [password], [user_id], [updated_at]) VALUES (1, N'lg-1', N'nasimuddin', N'us-1', CAST(N'2021-01-03T16:43:24.550' AS DateTime))
INSERT [dbo].[logins] ([id], [appid], [password], [user_id], [updated_at]) VALUES (2, N'lg-2', N'asifahmed', N'us-2', CAST(N'2021-01-03T16:39:59.340' AS DateTime))
INSERT [dbo].[logins] ([id], [appid], [password], [user_id], [updated_at]) VALUES (3, N'lg-3', N'shameem', N'us-3', CAST(N'2021-01-03T16:39:59.340' AS DateTime))
SET IDENTITY_INSERT [dbo].[logins] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [appid], [title], [price], [purchase_price], [quantity], [updated_at], [category_id]) VALUES (1, N'pr-1', N'Green Apple', 169, 150, 100, CAST(N'2021-01-03T16:39:59.333' AS DateTime), N'ca-1')
INSERT [dbo].[products] ([id], [appid], [title], [price], [purchase_price], [quantity], [updated_at], [category_id]) VALUES (10, N'pr-10', N'Beef Boneless', 899, 700, 100, CAST(N'2021-01-03T16:39:59.333' AS DateTime), N'ca-2')
INSERT [dbo].[products] ([id], [appid], [title], [price], [purchase_price], [quantity], [updated_at], [category_id]) VALUES (11, N'pr-11', N'Catla Fish', 430, 409, 20, CAST(N'2021-01-03T16:39:59.333' AS DateTime), N'ca-2')
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [appid], [name], [cart_access], [inventory_access], [users_access], [report_access], [role_access], [updated_at]) VALUES (1, N'rl-1', N'admin role', 1, 1, 1, 1, 1, CAST(N'2020-12-29T18:01:22.933' AS DateTime))
INSERT [dbo].[roles] ([id], [appid], [name], [cart_access], [inventory_access], [users_access], [report_access], [role_access], [updated_at]) VALUES (2, N'rl-2', N'manager role', 0, 1, 0, 1, 0, CAST(N'2020-12-29T18:01:22.933' AS DateTime))
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [appid], [updated_at], [user_type]) VALUES (1, N'us-1', CAST(N'2021-01-03T16:43:24.547' AS DateTime), N'Admin')
INSERT [dbo].[users] ([id], [appid], [updated_at], [user_type]) VALUES (2, N'us-2', CAST(N'2021-01-03T16:39:59.340' AS DateTime), N'Employee')
INSERT [dbo].[users] ([id], [appid], [updated_at], [user_type]) VALUES (3, N'us-3', CAST(N'2021-01-03T16:39:59.340' AS DateTime), N'Manager')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__employee__AB6E6164AF963355]    Script Date: 03/01/2021 07:54:41 PM ******/
ALTER TABLE [dbo].[employee] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__employee__B43B145FE0BEEE0B]    Script Date: 03/01/2021 07:54:41 PM ******/
ALTER TABLE [dbo].[employee] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__72E12F1B43EABC5E]    Script Date: 03/01/2021 07:54:41 PM ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[employee] ADD  DEFAULT ((0)) FOR [salary]
GO
ALTER TABLE [dbo].[employee]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([appid])
GO
ALTER TABLE [dbo].[logins]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([appid])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([appid])
GO
ALTER TABLE [dbo].[sales]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([appid])
GO
USE [master]
GO
